{% extends "base.html" %}

{% block content %}
  <div class="container-fluid">
    <!-- Filters-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Thailand</a>
          <a class="dropdown-item" href="#">Taiwan</a>
          <a class="dropdown-item" href="#">China</a>
          <a class="dropdown-item" href="#">United States</a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Other countries</a>
        </div>
      </div>
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Time
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Past day</a>
          <a class="dropdown-item" href="#">Past week</a>
          <a class="dropdown-item" href="#">Past month</a>
          <a class="dropdown-item" href="#">Past 3 months</a>
          <a class="dropdown-item" href="#">Past year</a>
        </div>
      </div>

      <!-- Navbar Search -->
      <form action="{% url "google_trend_api" %}" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" method="post">{% csrf_token %}
        <div class="input-group">
          <input type="text" name="search_kw" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- Area Chart -->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-chart-area"></i>
        關鍵字相對熱度
      </div>
      <div id="mychart", class="card-body">
        <canvas id="myAreaChart" width="100%" height="30"></canvas>
      </div>
      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
  </div>
{% endblock %}
